
body {

    background-color:#f4f4f4;
    color:#555555;
    font-family:Iosevka, monospace, arial, helvetica;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container {
    width:80%;
    margin:auto;
    margin-top:20px;
}
.box-1 {
    background-color:black;
    color:#ffffff;
    padding:15px;
}

.box-2 {
    background-color:#f4f4f4;
    color:#302505;
    padding:15px
}

.box-3 {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding:15px
    
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    margin: 1em 0;
    
    background-color: #000000;
    color: green;
}